*.obj
*.res
*.exe
*.dll
*.exp
*.lib
*.class
*.jar
*.pyo
*.html
*.zip

#Binaries
/.vs
build/
build-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user